.absoluteHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.exitIcon {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.matchInfoHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.matchInfoItem {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  width: 3rem;
  align-items: center;
}

.turnInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.turnActions {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.currentHandToPlay {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  height: 5rem;
}

.hand {
  display: flex;
  flex-flow: row nowrap;
  height: 30rem;
  gap: 2rem;
}

.selectedCardInfo {
  max-height: 5rem;
}

.playCardButton {
  width: 15rem;
  color: rgb(39, 116, 139);
  background-color: white;
}
