.edit-deck {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15rem;
}

.deck-type-options {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  cursor: pointer;
}

.select-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.select-p {
  display: flex;
  flex-direction: column;
}

/* Exit Button Settings*/
.absoluteHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.exitIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.menu-overlay {
  width: 72rem;
  height: 37rem;
  background: rgba(112, 69, 3);
  border: #666;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-overlay2 {
  width: 68rem;
  height: 32rem;
  background: rgb(227, 180, 109);
  border: #666;
  border-radius: 5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

/* Card Styling */
.cards-container {
  max-height: 30rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 10=2rem;
  gap: 1rem;
}

.card {
  border: 3px solid #1c0547;
  background: hsla(230, 43%, 53%, 1);

  background: linear-gradient(
    270deg,
    hsla(230, 43%, 53%, 1) 18%,
    hsla(252, 59%, 27%, 1) 53%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(230, 43%, 53%, 1) 18%,
    hsla(252, 59%, 27%, 1) 53%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(230, 43%, 53%, 1) 18%,
    hsla(252, 59%, 27%, 1) 53%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5364BA", endColorstr="#2C1C6C", GradientType=1 );
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(106, 41, 41, 0.3);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.card-name {
  font-size: 20px;
  margin: 0;
  color: black;
  margin-left: 4px;

}
.card-power {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.76);
  margin-right: 4px;
}
.card-type {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.card-image-box {
  width: 90%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
}
.card-description {
  background-color: rgba(177, 186, 231, 0.384);;
  border: #090707;
  border-radius: 10px;
  padding: 12px;
  min-height: 60px;
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-description p {
  margin: 0;
  font-size: 14px;
  color: #090707;
  line-height: 1.4;
}

.card p {
  margin: 0;
  color: #120707;
}
