html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.edit-deck {
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 50px;
}

.deck-type-options {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  cursor: pointer;
}

.select-container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.select-p {
  display: flex;
  flex-direction: column;
}

/* Exit Button Settings*/
.absoluteHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.exitIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* Card Styling */
.cards-container {
  min-height: auto;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  width: 100rem;
  gap: 1rem;
  justify-content: center;

  -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
  );
  mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
  );
}

#deck-type-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: hsla(229, 19%, 40%, 1);

  background: linear-gradient(
    180deg,
    hsla(229, 19%, 40%, 1) 18%,
    hsla(252, 59%, 27%, 1) 67%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(229, 19%, 40%, 1) 18%,
    hsla(252, 59%, 27%, 1) 67%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(229, 19%, 40%, 1) 18%,
    hsla(252, 59%, 27%, 1) 67%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#535A7B", endColorstr="#2C1C6C", GradientType=1 );
}

#deck-type-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: hsla(229, 19%, 40%, 1);
  height: 3rem;

  background: linear-gradient(
    180deg,
    hsla(229, 19%, 40%, 1) 18%,
    hsla(252, 59%, 27%, 1) 67%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(229, 19%, 40%, 1) 18%,
    hsla(252, 59%, 27%, 1) 67%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(229, 19%, 40%, 1) 18%,
    hsla(252, 59%, 27%, 1) 67%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#535A7B", endColorstr="#2C1C6C", GradientType=1 );
}
